<nav>
  <%= nav_link_to "features", "/features" %>
  <%= nav_link_to "get started", "/get-started" %>
  <%= nav_link_to "api", "/api" %>
  <%= nav_link_to "install", "/install" %>
  <%= nav_link_to "architecture", "/architecture" %>
  <%= nav_link_to "contact", "/contact" %>
  <a class="" href="http://blog.buddycloud.com" target="_blank">blog</a>
  <%= nav_link_to "contact us", "#contact" %>
</nav>