<!doctype html>
<html>
  <%= partial "views/layout/head" %>
  
  <body>
    <div class="fixedHeader" style="display: none">
      <div class="container"></div>
    </div>
    
    <%= yield %>

    <%= partial "views/layout/footer" %>
    <%= partial "views/layout/ga" %>
    <%= partial "views/layout/javascripts" %>
  </body>
</html>