<!doctype html>
<html>
  <%= partial "views/layout/head" %>
  
  <body>
    <%= partial "views/home/header" %>
    <%= yield %>

    <%= partial "views/layout/footer" %>
    <%= partial "views/layout/ga" %>
    <%= partial "views/layout/javascripts" %>
  </body>
</html>